#custom-embed-div {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   pointer-events: none;
   user-select: none;
   width: 100vw;
   height: 100vh;
   opacity: 0.5;
}

#custom-embed-div #webglCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}